<!DOCTYPE html>
<html>

<head>
    <base href='/' />
    <meta name="viewport"
        content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="icon" type="image/png" href="assets/public/favicon.ico" >

    <script src = 'https://apis.google.com/js/api.js'></script>
    <title>Travell</title>
</head>

<body>
   <section id="react-app"></section>

   <script type="text/javascript" src="assets/index.js"></script>
   <hr />
   <div style="padding-left: 20px;">This is footer</div>

</body>

</html>