<!DOCTYPE html>
<html>
<head>
    <base href='/' />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="assets/public/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/public/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="https://maps-js.apissputnik.ru/v0.3/sputnik_maps_bundle.min.css" />
    <script src="https://maps-js.apissputnik.ru/v0.3/sputnik_maps_bundle.min.js"></script>

    <title>Travell</title>
</head>
<body>
<section id="react-app"></section>
<script type="text/javascript" src="assets/index.js"></script>
<hr/>
<div style="padding-left: 20px;">This is footer</div>
<style type="text/css">#map1 { height: 400px; }</style>

<div id="map1"></div>
<script>
L.sm.apiKey = '<Ваш API-ключ>';
var map = L.sm.map('map1');
var myMarker1 = L.sm.marker([55.55, 37.6167]); // создаем маркер с координатами
map1.addLayer(myMarker1);
</script>

</body>
</html>
